body {
  background-color: rgb(50, 50, 60);

}

.Chess_Board_Main {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.Chess_Board_Game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.player_One,
.player_Two {
  font-size: 3.2rem;
}

.player_One {
  color: rgba(0, 0, 0, 0.35);
}
.player_Two {
  color: rgb(0, 0, 0);
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 1px solid #000;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  width: 7rem;
  height: 7rem;
}

.white {
  background-color: rgb(205,133,63)
}

.black {
  background-color: rgb(139,69,19)

  ;
}

.whitePiece {
  color: rgb(255, 255, 255);
}

.blackPiece {
  color: #000;
}

.PossibleMoves {
  background: green;
  opacity: 50%;
  box-shadow: 1px 1px 10px #000000;
  width: 7rem;
  height: 7rem;
  position: absolute;
}

.History_Container {
  margin-top: 15rem;
  display: flex;
  align-self: flex-start;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  overflow-y: auto;

}

.History_From,
.History_To {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  color: #fff;
  width: 10rem;
  height: 45rem;
 
}
